section#idiomas {
    background-color: violet;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 395px;
    float: left;
    border-bottom: 5px solid rgb(37, 37, 37);
    border-right: 3px solid rgb(37, 37, 37);
}

section#idiomas h1{
    font-family: 'Merienda', cursive;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px
}

section#idiomas ul{
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

section#idiomas li{
    margin-bottom: 25px;
    font-size: 17px;
}

@media (max-width: 800px) {
    section#idiomas{
        flex-direction: column;
        width: 290px;
        height: 250px;
        border-right: 0px;
    }
}

@media (max-width: 800px) {
    section#idiomas h1{
        font-family: 'Merienda', cursive;
        margin-top: 10px;
        margin-bottom: 17px;
        font-size: 20px
    }
}

@media (max-width: 800px) {
    section#idiomas ul{
        margin-left: 35px;
        margin-right: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
}

@media (max-width: 800px) {
    section#idiomas li{
        margin-bottom: 20px;
        font-size: 20px;
    }
}
